[Unit]
Description=docs.aiops.ru

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill docs.aiops.ru
ExecStartPre=-/usr/bin/docker rm docs.aiops.ru
ExecStartPre=-/usr/bin/docker pull marley/docs.aiops.ru:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name docs.aiops.ru   \
 -p 4006:80                        \
 marley/docs.aiops.ru'
ExecStop=-/usr/bin/docker kill docs.aiops.ru
ExecStop=-/usr/bin/docker rm docs.aiops.ru

[Install]
WantedBy=multi-user.target
